
<body>
    profile_picture:<img width="100px"  src="{{profile_picture.url}}"><br>
    NAME:{{name}}<br>
    STATUS:{{status}}<br>
    Gender:{{gender}}<br>
    Interest_in:{{interest_in}}<br>
    Email:{{email}}<br>
    Marital_status:{{marital_status}}<br>
    Address:{{address}}<br>
   


    <form method="POST" action="/friends/">   
    <button><a href="/findf/">FindFriends</a><br></button>
    <button><a href="/flist/">Friendslist</a><br></button>
    <button><a href="/freq/">Friend Requests</a><br></button> 
    </form>


</body>
